/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Debug Class*/
.debug{
    border: 1px solid red;
}

/*Container*/
.container{
    max-width:1400px;
    margin: 200px auto;
    
}

/*Font*/
.faculty-glyphic-regular {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

body{
    background-color: black;
    background-image: url(../img/white-star-bg.png);
    background-size:contain;
}
#title {
    color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Faculty Glyphic", sans-serif;
    font-size: 1.3em;
    text-shadow: 0px 0px 10px rgba(255, 255, 0, 0.8);
    margin: 20px auto;
}

#playground{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
}
#side{
    width: 50%;
}
.lampAccesa{
    transform: rotateY(180deg);
}
