/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Debug Class*/
.debug{
    border: 1px solid red;
}

/*Container*/
.container{
    max-width:1400px;
    margin: 200px auto;
    
}

/*Font*/
.faculty-glyphic-regular {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

body{
    background-color: black;
    background-image: url(../img/white-star-bg.png);
    background-size:contain;
}
/*
color: goldenrod;
text-shadow: 0px 0px 10px rgba(255, 255, 0, 0.8);
*/
#title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Faculty Glyphic", sans-serif;
    font-size: 1.3em;
    margin: 20px auto;
}

.titleOff{
    color: grey;
}
.titleOn{
    color: goldenrod;
    text-shadow: 0px 0px 10px rgba(255, 255, 0, 0.8);
}

#playground{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
}
#btn{
    padding: 15px 25px;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    transition: all 0.2s ease;
}
#btn:active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(2px); 
}

.lampAccesa{
    transform: rotateY(180deg);
}

.btnColorOff{
    background-color: grey;
    color: black;
}
.btnColorOn{
    background-color: goldenrod;
    color: white;
}
